.footer {
  background-color: black;
  height: 100px;
  color: #1EDD88;
  margin-top: 1.66em;
  padding-top: 50px;
  text-align: center;
}

.social-links {
  font-size: 30px;
}

.footer p {
  color: rgb(150,150,150);
}

.footer p i {
  color: red;
}
